<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/main.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <title>About</title>
</head>

<body class="theme">
    <div class="container">
        <header>
            <input type="checkbox" id="toggle" class="dropdown">
            <label for="toggle" class="hamburger">
                <span></span>
                <span></span>
                <span></span>
            </label>

            <nav id="main-nav">
                <ul class="menu">
                    <li><a href="/">Kurser</a></li>
                    <li><a href="/addcourse">Lägg till kurs</a> </li>
                    <li><a href="/about">Om</a></li>
                </ul>
            </nav>
        </header>

        <main id="main">
            <article>
                <h1>Moment 1 - Serverbaserad webbutveckling</h1>
                <p>Denna webbplats används för att lista de kurser som ingår i webbutvecklingsprogrammet
                    på Mittuniversitetet. Det går att lägga till och ta bort kurser via gränssnittet.
                    SQLite används som databasserver, och lagring sker i ./db/cv.db. 
                    Detta moment demonstrerar hur en webbtjänst hänger ihop från databas till gränssnitt - 
                    hur data hämtas, visas upp och hur data kan läggas till/tas bort i databasen via gränssnittet.  
                    Dvs i serverbaserad webbutveckling sker huvuddelen av bearbetningen på servern, och servern tar emot förfrågningar från klienten, 
                    bearbetar dem och skickar sedan resultatet tillbaka till klienten.
                </p>
            </article>
        </main>

        <footer>
            <span class="material-icons">email</span>
            <span class="material-icons">phone</span>
            <span class="material-icons">map</span>
        </footer>

    </div>
</body>

</html>